<!DOCTYPE html>
<html>
<center>
  <h1 style="background-color:#ffccf1;">
    Hi, EmoBot is here!
  </h1>
  <br></br>

  <form action="{{ url_for("home")}}" method="post">

  <i style="color:red;">
    Sorry, something went wrong. Please retry!
  </i>
  <p style="color:red;">(・_・ヾ)</p>

  <h3>
  <label for="emobot">How are you feeling today?</label>
  <input type="text" id="emobot" name="text" placeholder="text">
  <button type="submit">Submit!</button>
  </h3>

  <br></br><br></br><br></br><br></br><br></br><br></br>
  <br></br><br></br><br></br><br></br><br></br><br></br>

  <footer style="background-color:#ffccf1;">
    <p>Emotional Support Chat Bot - Powered by memes and kaomoji (´｡• ω •｡`)</p>
    <p><a href="https://github.com/Vernal-Rain">Github: Vernal-Rain</a></p>
    <br></br><br></br><br></br><br></br><br></br><br></br>
  </footer>
</center>
</html>
