<!DOCTYPE html>
<html>
<center>
  <h1>
    Hi, EmoBot is here!
  </h1>
  <br></br><br></br><br></br>

  <form action="{{ url_for("home")}}" method="post">

  <label for="emobot">How are you feeling today?</label>
  <input type="text" id="emobot" name="text" placeholder="text">
  <button type="submit">Submit!</button>

  <footer>
    <br></br><br></br><br></br><br></br><br></br><br></br>
    <p>Emotional Support Chat Bot- Powered by memes and kaomoji (´｡• ω •｡`)</p>
    <p><a href="https://github.com/Vernal-Rain">Github: Vernal-Rain</a></p>
  </footer>
</center>
</html>
