<!DOCTYPE html>
<html>
<center>
  <h1>
    Hi, EmoBot is here!
  </h1>

  <h3>
    Hmmm, it seems like you are anxious! ▓▒░(°◡°)░▒▓
  </h3>

  <img src="{{url_for('static', filename='anxious.jpg')}}" alt="When you're anxiety goes away...or does it?"
  width=830 height=796>

  <footer>
    <br></br><br></br><br></br><br></br><br></br><br></br>
    <p>Emotional Support Chat Bot - Powered by memes and kaomoji (´｡• ω •｡`)</p>
    <p><a href="https://github.com/Vernal-Rain">Github: Vernal-Rain</a></p>
  </footer>
</center>
</html>
