<!DOCTYPE html>
<html>
<center>
  <h1 style="background-color:#ffe0cc;">
    Hi, EmoBot is here!
  </h1>

  <h3>
    Oh no, it seems like you are frustrated! ☆ｏ(＞＜；)○
  </h3>

  <img src="{{url_for('static', filename='annoyed.jpg')}}" alt="Rona go brrr"
  width=600 height=868>

  <footer style="background-color:#ffe0cc;">
    <p>Emotional Support Chat Bot - Powered by memes and kaomoji (´｡• ω •｡`)</p>
    <p><a href="https://github.com/Vernal-Rain">Github: Vernal-Rain</a></p>
    <br></br><br></br><br></br><br></br><br></br><br></br>
  </footer>
</center>
</html>
