<!DOCTYPE html>
<html>
<center>
  <h1>
    Hi, EmoBot is here!
  </h1>

  <h3>
    It seems like you are pretty tired today! (＿ ＿*) Z z z
  </h3>

  <img src="{{url_for('static', filename='tired.jpg')}}" alt="Face plant cat :3">

  <footer>
    <br></br><br></br><br></br><br></br><br></br><br></br>
    <p>Emotional Support Chat Bot - Powered by memes and kaomoji (´｡• ω •｡`)</p>
    <p><a href="https://github.com/Vernal-Rain">Github: Vernal-Rain</a></p>
  </footer>
</center>
</html>
