<!DOCTYPE html>
<html>
<center>
  <h1>
    Hi, EmoBot is here!
  </h1>

  <h3>
    It seems like you are feeling upset today! (ಥ﹏ಥ)
  </h3>

  <img src="{{url_for('static', filename='crying.jpg')}}" alt="Just cats being sad..."
  width=392 height=672>

  <footer>
    <br></br><br></br><br></br><br></br><br></br><br></br>
    <p>Emotional Support Chat Bot - Powered by memes and kaomoji (´｡• ω •｡`)</p>
    <p><a href="https://github.com/Vernal-Rain">Github: Vernal-Rain</a></p>
  </footer>
</center>
</html>
