<!DOCTYPE html>
<html>
<center>
  <h1>
    Hi, EmoBot is here!
  </h1>

  <h3>
    Uh oh, it seems like you are a bit angry! (╯°□°）╯︵ ┻━┻
  </h3>

  <img src="{{url_for('static', filename='angry.png')}}" alt="Sitting down and talking... o.o"
  width=750 height=768>

  <footer>
    <br></br><br></br><br></br><br></br><br></br><br></br>
    <p>Emotional Support Chat Bot - Powered by memes and kaomoji (´｡• ω •｡`)</p>
    <p><a href="https://github.com/Vernal-Rain">Github: Vernal-Rain</a></p>
  </footer>
</center>
</html>
