<!DOCTYPE html>
<html>
<center>
  <h1 style="background-color:#e0ccff;">
    Hi, EmoBot is here!
  </h1>

  <h3>
    It seems like you are feeling sad today! o(TヘTo)
  </h3>

  <img src="{{url_for('static', filename='sad.jpg')}}" alt="Can't be depressed..."
  width=845 height=470>

  

  <footer style="background-color:#e0ccff;">
    <p>Emotional Support Chat Bot - Powered by memes and kaomoji (´｡• ω •｡`)</p>
    <p><a href="https://github.com/Vernal-Rain">Github: Vernal-Rain</a></p>
    <br></br><br></br><br></br><br></br><br></br><br></br>
  </footer>
</center>
</html>
