<!DOCTYPE html>
<html>
<center>
  <h1>
    Hi, EmoBot is here!
  </h1>

  <h3>
    Ooooh, it seems like you are excited! °˖✧◝(⁰▿⁰)◜✧˖°
  </h3>

  <img src="{{url_for('static', filename='excited.jpg')}}" alt="Unexpected fridge chocolate :O"
  width=758 height=514>

  <footer>
    <br></br><br></br><br></br><br></br><br></br><br></br>
    <p>Emotional Support Chat Bot - Powered by memes and kaomoji (´｡• ω •｡`)</p>
    <p><a href="https://github.com/Vernal-Rain">Github: Vernal-Rain</a></p>
  </footer>
</center>
</html>
