<!DOCTYPE html>
<html>
<center>
  <h1 style="background-color:#ccf0ff;">
    Hi, EmoBot is here!
  </h1>

  <h3>
    It seems like you are kinda bored today! ┐(シ)┌
  </h3>

  <img src="{{url_for('static', filename='bored.jpg')}}" alt="Dysfunctionally fun?">

  <footer style="background-color:#ccf0ff;">
    <p>Emotional Support Chat Bot - Powered by memes and kaomoji (´｡• ω •｡`)</p>
    <p><a href="https://github.com/Vernal-Rain">Github: Vernal-Rain</a></p>
    <br></br><br></br><br></br><br></br><br></br><br></br>
  </footer>
</center>
</html>
